@import url('https://fonts.googleapis.com/css?family=Montserrat:600&display=swap');

.menu-container{
    margin: auto;
    width: 50%;
    height: 50%;
    // border: 3px solid green;
    padding: 10px;
    text-align: center;
    align-items: center;
    margin-top: 200px;
}

.menu-item{
    margin-top: 25px;
}
